@charset "UTF-8";
@font-face {
  font-family: "Kudryashev Display";
  src: url(../fonts/KudryashevDisplay-Regular.woff2);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  position: relative;
  z-index: 0;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  flex-shrink: 0;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.title {
  font-family: "Kudryashev Display";
  font-style: normal;
  font-weight: 400;
  font-size: 8.5rem;
  line-height: 1.3;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.link-circle {
  cursor: pointer;
  position: relative;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  z-index: 5;
}
.link-circle::before {
  content: "";
  background-image: url(../images/header-circle.svg);
  width: 18rem;
  height: 16rem;
  position: absolute;
  top: -7rem;
  left: -10rem;
}

.link-circle--brown::before {
  content: "";
  width: 18rem;
  height: 16rem;
  position: absolute;
  background-image: url(../images/problems__link.svg);
}

.header {
  min-height: 82.8rem;
  background-image: url(../images/header-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
}
.header__left--desc {
  display: flex;
  gap: 3.4rem;
}
.header__left--desc span {
  max-width: 20rem;
  font-size: 1.4rem;
  line-height: 1.6;
}
.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 3.4rem;
}
.header__logo {
  width: 28.2rem;
  height: 10.9rem;
}
.header__right {
  display: flex;
  gap: 3.4rem;
}
.header__social {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 3.5rem;
}
.header__social img {
  width: 2.7rem;
  height: 2.7rem;
}
.header__phone {
  position: relative;
  z-index: 2;
}
.header__phone--number {
  font-family: "Kudryashev Display";
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1.2;
  letter-spacing: 0.05em;
}
.header__phone--text {
  margin-top: 1.3rem;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header__desc {
  margin-top: 6.8rem;
  display: flex;
  flex-direction: column;
}
.header__title {
  max-width: 71rem;
  font-family: "Kudryashev Display";
  font-weight: 400;
  font-size: 6rem;
  line-height: 1.3;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.header__title span {
  font-size: 8rem;
}
.header__text {
  margin-top: 3rem;
  max-width: 37.8rem;
  font-size: 2.3rem;
  line-height: 1.65;
}
.header__text span {
  font-weight: 600;
}
.header__link {
  margin-left: 10rem;
  margin-top: 10rem;
}
.header__link::before {
  top: -7rem;
  left: -10rem;
}
.header::before {
  content: "";
  background: url(../images/header-bg_circle.webp);
  background-repeat: no-repeat;
  position: absolute;
  right: 15%;
  width: 55rem;
  height: 55rem;
}

.hamburger-menu {
  display: none;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
  background-color: #fff;
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: #fff;
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 15rem 0;
  list-style: none;
  background-color: rgba(209, 174, 142, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 27px;
  margin: 0 auto;
  display: flex;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item-callback {
  line-height: 1.3;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.menu__item-tel {
  margin-top: 5rem;
}
.menu__item img {
  width: 4rem;
}

.menu__item:hover {
  color: #1d1d1a;
}

@media (max-width: 1240px) {
  .header {
    min-height: 70rem;
    background-position: center;
    background-size: cover;
  }
  .header__title {
    margin-top: 5rem;
    max-width: 30rem;
    font-size: 3rem;
    line-height: 1.3;
    letter-spacing: -0.03em;
  }
  .header__title span {
    font-size: 3.5rem;
  }
  .header__text {
    margin-top: 1.5rem;
    max-width: 30rem;
    font-size: 2rem;
  }
  .header__right {
    display: none;
  }
  .header::before {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
}
@media (max-width: 825px) {
  .header__left--desc {
    display: none;
  }
}
@media (max-width: 670px) {
  .header {
    min-height: 65rem;
    background-image: url(../images/header-bg_mobile.png);
  }
}
@media (max-width: 500px) {
  .header {
    min-height: 50rem;
  }
  .header__title {
    max-width: 23rem;
    font-size: 2rem;
    line-height: 1.3;
    letter-spacing: -0.03em;
  }
  .header__title span {
    font-size: 2.5rem;
  }
  .header__text {
    max-width: 25rem;
    font-size: 1.5rem;
  }
  .header__link {
    font-weight: 600;
    font-size: 1.4rem;
    margin-top: 5rem;
  }
  .header__link::before {
    background-image: url(../images/header-circle_mobile.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: -4rem;
    left: -6.5rem;
  }
}
.problems {
  padding-top: 8rem;
  margin-bottom: 16rem;
  background-image: url(../images/bg-dotted.webp);
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}
.problems::before {
  content: "";
  background-image: url(../images/problems-line.svg);
  background-repeat: no-repeat;
  background-position-x: 150rem;
  top: 0;
  position: absolute;
  width: 100%;
  height: 102.7rem;
  z-index: -1;
}
.problems__main {
  display: flex;
  justify-content: space-between;
}
.problems__image {
  margin-left: -13rem;
  max-width: 77.6rem;
  max-height: 77.3rem;
  flex-shrink: 0;
}
.problems__desc {
  max-width: 77.1rem;
}
.problems__desc--title {
  margin-top: 5rem;
  margin-left: -10rem;
  font-family: "Kudryashev Display";
  font-size: 8.8rem;
  line-height: 1;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #312c38;
}
.problems__desc--subtitle {
  margin-top: 1rem;
  margin-left: 4rem;
  font-family: "Kudryashev Display";
  font-size: 7.67rem;
  line-height: 1;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #b68c6e;
}
.problems__desc--text {
  margin-left: 4rem;
  margin-top: 1rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1;
  text-transform: uppercase;
  color: #312c38;
}
.problems__items {
  position: relative;
  margin-left: 6rem;
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 70%;
  justify-content: space-between;
  gap: 5.5rem 2rem;
  align-items: center;
}
.problems__item {
  display: flex;
  gap: 2rem;
  max-width: 30rem;
  font-size: 1.8rem;
  line-height: 1.64;
  color: #1d1d1a;
  overflow: hidden;
}
.problems__item--img img {
  width: 8.1rem;
  height: 6rem;
}
.problems__link {
  margin-left: 19rem;
  margin-top: 12rem;
  color: #1d1d1a;
  z-index: 5;
}
.problems__link::before {
  top: -6rem;
  left: -12rem;
}

@media (max-width: 1240px) {
  .problems {
    margin-top: 3rem;
    margin-bottom: 12rem;
    background-image: none;
    position: relative;
  }
  .problems::before {
    background-image: none;
  }
  .problems__image {
    margin-left: 0;
    max-width: 65rem;
  }
  .problems__desc {
    max-width: 60rem;
    margin-top: -8rem;
  }
  .problems__desc--title {
    margin-top: 3rem;
    margin-left: -10rem;
    font-size: 5rem;
  }
  .problems__desc--subtitle {
    margin-left: 1rem;
    font-size: 4rem;
  }
  .problems__desc--text {
    margin-left: 1rem;
    font-size: 1.6rem;
  }
  .problems__items {
    position: relative;
    margin-left: 1rem;
    margin-top: 3.5rem;
    gap: 2rem 1rem;
  }
  .problems__item {
    gap: 0.5rem;
    font-size: 1.4rem;
  }
  .problems__item--img img {
    width: 8rem;
    height: 4rem;
  }
  .problems__link {
    margin-left: 13rem;
    margin-top: 5rem;
  }
}
@media (max-width: 1004px) {
  .problems {
    padding-top: 3rem;
    margin-bottom: 10rem;
  }
  .problems__main {
    flex-direction: column;
    align-items: center;
  }
  .problems__image {
    margin-left: -13rem;
    max-width: 50rem;
  }
  .problems__desc--title {
    margin-top: 6rem;
    margin-left: 5rem;
    font-size: 4rem;
  }
  .problems__desc--subtitle {
    margin-left: 18rem;
    font-size: 3.5rem;
  }
  .problems__desc--text {
    margin-top: 2rem;
    margin-left: 18rem;
    font-size: 1.6rem;
  }
  .problems__items {
    margin-left: 15rem;
    margin-top: 4rem;
    gap: 1.5rem 0;
    align-items: center;
  }
  .problems__item {
    gap: 1rem;
    font-size: 1.4rem;
  }
  .problems__item--img img {
    width: 8rem;
  }
  .problems__link {
    margin-left: 23rem;
    margin-top: 3.5rem;
    font-size: 2rem;
  }
  .problems__link::before {
    background-image: url(../images/circle-brown_mobile.svg);
    background-repeat: no-repeat;
    top: -3rem;
    left: -7rem;
  }
}
@media (max-width: 661px) {
  .problems {
    padding-top: 3rem;
    margin-bottom: 10rem;
  }
  .problems__image {
    margin: 0 auto;
    max-width: 40rem;
  }
  .problems__desc--title {
    margin-top: 6rem;
    text-align: center;
    font-size: 3rem;
    margin-left: auto;
  }
  .problems__desc--subtitle {
    text-align: center;
    margin-left: auto;
    font-size: 2.5rem;
  }
  .problems__desc--text {
    margin-top: 2rem;
    margin-left: auto;
    text-align: center;
    font-size: 1.6rem;
  }
  .problems__items {
    justify-content: center;
    margin-left: 0;
    margin-top: 4rem;
    gap: 1.5rem 3rem;
  }
  .problems__item {
    min-width: 30rem;
    font-size: 1.6rem;
  }
  .problems__link {
    margin-left: 13rem;
    margin-top: 3rem;
    font-size: 1.8rem;
  }
  .problems__link::before {
    top: -3rem;
    left: -7rem;
  }
}
.aptos {
  padding-bottom: 12rem;
  background-color: #f0e3da;
  background-image: url(../images/bg-dotted.webp);
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  z-index: -2;
}
.aptos::before {
  content: "";
  background-image: url(../images/aptos-big_line.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  top: 5rem;
  width: 91.3rem;
  height: 330.5rem;
  position: absolute;
  z-index: -1;
}
.aptos__up {
  display: flex;
  justify-content: space-between;
}
.aptos__image {
  margin-left: -13rem;
}
.aptos__image img {
  min-width: 83.2rem;
}
.aptos__desc {
  margin-top: 26rem;
  margin-left: 10rem;
}
.aptos__desc--title {
  margin-left: -15rem;
  font-family: "Kudryashev Display";
  font-size: 8.8rem;
  line-height: 1;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #312c38;
}
.aptos__desc--subtitle {
  margin-top: 1.2rem;
  font-family: "Kudryashev Display";
  font-size: 7.67rem;
  line-height: 1;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #b68c6e;
}
.aptos__desc--title-text {
  margin-top: 5rem;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 2rem;
  line-height: 1;
  text-transform: uppercase;
  color: #312c38;
}
.aptos__desc--text {
  margin-top: 1.5rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8;
  color: #1d1d1a;
}
.aptos__middle {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.aptos__middle--left {
  max-width: 56.3rem;
}
.aptos__middle--left__goldtext {
  position: relative;
  margin-top: 23.3rem;
  font-family: "Lora";
  font-style: italic;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 1.54;
  color: #b68c6e;
}
.aptos__middle--left__goldtext::before {
  content: "";
  background-image: url(../images/quotes.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 15.3rem;
  height: 9.8rem;
  top: -2rem;
  left: -9rem;
  z-index: -1;
}
.aptos__middle--left__text {
  margin-top: 11rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2;
  color: #1d1d1a;
}
.aptos__middle--right {
  position: relative;
}
.aptos__middle--right::before {
  content: "";
  position: absolute;
  width: 22.3rem;
  height: 21rem;
  background-image: url(../images/aptos-circle.webp);
  top: 10rem;
  left: 16rem;
}
.aptos__middle--right::after {
  content: "";
  position: absolute;
  background-image: url(../images/aptos-dottes_right.png);
  width: 13.1rem;
  height: 11.7rem;
  bottom: 29rem;
  right: 5rem;
}
.aptos__middle--right-text {
  margin: 5rem auto;
  max-width: 57.9rem;
  font-size: 1.8rem;
  line-height: 2;
  color: #1d1d1a;
}
.aptos__small-img {
  margin-top: 32.5rem;
}
.aptos__big-img img {
  height: 64.8rem;
}
.aptos__images {
  margin-top: 9rem;
  display: flex;
  gap: 5rem;
}
.aptos__bottom {
  display: flex;
}
.aptos__bottom::before {
  content: "";
  position: absolute;
  bottom: 77rem;
  left: -6rem;
  z-index: -5;
  width: 89.3rem;
  height: 53.4rem;
  background-color: #eacfbc;
}
.aptos__bottom--title {
  margin-top: 10rem;
  margin-left: 48rem;
  margin-bottom: -8rem;
  max-width: 60rem;
  font-family: "Kudryashev Display";
  font-size: 8.5rem;
  line-height: 0.9;
  color: #1d1d1a;
  position: relative;
  z-index: 2;
}
.aptos__bottom--title span {
  color: #b68c6e;
}
.aptos__bottom--left {
  position: relative;
  max-width: 90rem;
}
.aptos__bottom--left-image__play {
  cursor: pointer;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.aptos__bottom--right {
  max-width: 73.6rem;
}
.aptos__bottom--desc {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
}
.aptos__bottom--desc-left {
  max-width: 38.5rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.9;
  text-transform: uppercase;
  color: #1d1d1a;
}
.aptos__bottom--desc-left span {
  color: #b68c6e;
  border-bottom: 0.2rem solid #b68c6e;
}
.aptos__bottom--desc-right {
  display: flex;
  flex-direction: column;
  gap: 3.2rem 0;
}
.aptos__bottom--desc-right__item {
  width: 73.8rem;
  display: flex;
  padding-bottom: 2rem;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.35;
  text-transform: uppercase;
  color: #1d1d1a;
  border-bottom: 1px solid #b68c6e;
}
.aptos__items {
  margin-left: 7rem;
  margin-top: 15rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 4rem 0;
}
.aptos__item {
  max-width: 73.6rem;
  display: flex;
  justify-content: space-between;
}
.aptos__item--num {
  margin-left: 4rem;
  font-size: 2rem;
  line-height: 1.8;
  color: #22211e;
}
.aptos__item--title {
  font-family: "Lora";
  font-style: italic;
  margin-left: 2rem;
  padding-top: 1rem;
  width: 20rem;
  font-size: 3rem;
  line-height: 1.4;
  color: #1d1d1a;
}
.aptos__item--text {
  padding-top: 1rem;
  margin-left: 4.5rem;
  width: 44.4rem;
  font-size: 1.8rem;
  line-height: 1.8;
  color: #1d1d1a;
}

.benefits {
  margin-top: 8rem;
  margin-bottom: -15rem;
  position: relative;
}
.benefits::after {
  content: "";
  position: absolute;
  top: -22rem;
  right: 20rem;
  background-image: url(../images/benefits-bg_line.png);
  width: 70rem;
  height: 175rem;
}
.benefits__title {
  max-width: 75rem;
  font-family: "Kudryashev Display";
  font-size: 8.5rem;
  line-height: 0.9;
  color: #1D1D1A;
}
.benefits__items {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.benefits__item {
  margin-left: 2.7rem;
  margin-top: 6.5rem;
  max-width: 31.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #22211E;
}
.benefits__item--title {
  margin-top: 2.7rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.4;
  text-transform: uppercase;
}
.benefits__item--text {
  margin-top: 1.5rem;
  font-size: 1.8rem;
  line-height: 1.8;
}

.examples {
  display: flex;
  margin-top: 12rem;
  margin-bottom: 10rem;
  position: relative;
}
.examples::before {
  content: "";
  position: absolute;
  bottom: -45rem;
  left: 27rem;
  background-image: url(../images/slider-bg_circle.png);
  background-repeat: no-repeat;
  width: 27.6rem;
  height: 27.7rem;
}
.examples::after {
  content: "";
  position: absolute;
  background-image: url(../images/bg-dotted.webp);
  background-repeat: no-repeat;
  width: 52rem;
  height: 52rem;
  top: 0;
  left: 35%;
}
.examples__comparison {
  position: relative;
  margin-left: 15rem;
}
.examples__comparison::after {
  content: "";
  position: absolute;
  background-image: url(../images/After.png);
  background-repeat: no-repeat;
  bottom: -7.5rem;
  left: 0;
  width: 27rem;
  height: 10rem;
  z-index: 3;
}
.examples__work {
  margin-top: 7rem;
  margin-left: 6rem;
}
.examples__work--title {
  font-family: "Kudryashev Display";
  font-size: 8.5rem;
  line-height: 1;
  letter-spacing: 0.5rem;
  color: #B68C6E;
}
.examples__work--subtitle {
  margin-left: 11rem;
  margin-top: 1.2rem;
  font-family: "Kudryashev Display";
  font-size: 12rem;
  line-height: 1.1;
  letter-spacing: 0.5rem;
  color: #312C38;
}
.examples__work--text {
  margin-top: 2rem;
  margin-left: 11rem;
  max-width: 36rem;
  font-size: 2rem;
  line-height: 1.84;
  text-transform: uppercase;
  color: #1D1D1A;
}
.examples__work--text span {
  color: #B68C6E;
}
.examples__link {
  padding-left: 1rem;
  margin-top: 9rem;
  margin-left: 11rem;
  color: #1D1D1A;
}

img-comparison-slider {
  width: 53rem;
  height: 56rem;
  --divider-width: 1px;
  --divider-color: #fff;
  --handle-position-start: 50%;
  --default-handle-width: 70px;
  z-index: 2;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.special {
  margin-top: 8rem;
}
.special__title {
  margin: 0 auto;
  max-width: 66.3rem;
  text-align: center;
  color: #1D1D1A;
  font-family: "Kudryashev Display";
  font-size: 8.5rem;
  line-height: 1.2;
  text-transform: none;
}
.special__slider {
  margin-top: 4.5rem;
  position: relative;
}
.special__slider::after {
  content: "";
  position: absolute;
  background-image: url(../images/slider-bg_circle.png);
  background-repeat: no-repeat;
  width: 27.6rem;
  height: 27.7rem;
  z-index: 3;
}

.swiper-slide img {
  width: 40rem;
  height: 40rem;
}

.swiper-button-left, .swiper-button-right {
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

.swiper-button-left {
  top: 17rem;
  left: 35.5rem;
}

.swiper-button-right {
  top: 17rem;
  right: 43.7rem;
}

.swiper-slide-next {
  position: relative;
  transition-delay: 2s;
}
.swiper-slide-next img {
  transform: scale(2);
}

.swiper__white-square {
  position: absolute;
  top: 13%;
  left: 30%;
  background-color: #fff;
  padding: 4rem 6rem 5rem 5.4rem;
  z-index: 3;
  overflow: hidden;
}

.square__title {
  foont-weight: 500;
  font-size: 2.5rem;
  line-height: 172%;
  text-align: center;
  color: #1D1D1A;
}
.square__desc {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 3rem;
  position: relative;
}
.square__desc::after {
  content: "";
  position: absolute;
  top: 2rem;
  width: 1px;
  height: 185px;
  opacity: 0.7;
  background-color: #C4C4C4;
}
.square__sale {
  font-family: "Kudryashev Display";
  font-size: 12rem;
  line-height: 112.2%;
  letter-spacing: -0.02em;
  color: #B68C6E;
}
.square__text {
  max-width: 30.6rem;
  font-family: "Kudryashev Display";
  font-size: 6.2rem;
  line-height: 85.7%;
  color: #1D1D1A;
}
.square__text span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 3.3rem;
  line-height: 85.7%;
  color: #1D1D1A;
}
.square__link {
  margin-top: 4rem;
  font-size: 2rem;
  line-height: 172%;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #B68C6E;
  text-align: center;
  position: relative;
}
.square__link:hover {
  transform: scale(1.05);
}
.square__link::after {
  content: "";
  position: absolute;
  background-image: url(../images/square-arrow.svg);
  background-repeat: no-repeat;
  width: 1rem;
  height: 1.2rem;
  top: 1rem;
  right: 17rem;
}

.price {
  padding-top: 41rem;
  padding-bottom: 20rem;
  background-color: #F0E3DA;
  position: relative;
}
.price::before {
  content: "";
  position: absolute;
  background-image: url(../images/price-bg_line.png);
  background-repeat: no-repeat;
  top: -2.5rem;
  left: 42rem;
  width: 72rem;
  height: 142.7rem;
}
.price::after {
  content: "";
  position: absolute;
  background-image: url(../images/slider-bg_circle.png);
  background-repeat: no-repeat;
  top: 32rem;
  right: 12rem;
  width: 29.5rem;
  height: 29.5rem;
}
.price__title {
  max-width: 50rem;
  font-family: "Kudryashev Display";
  font-size: 8.5rem;
  line-height: 0.9;
  color: #1D1D1A;
  text-transform: none;
}
.price__inner {
  display: flex;
  justify-content: space-between;
}
.price__desc {
  display: flex;
  flex-direction: column;
}
.price__img {
  position: relative;
  max-width: 88rem;
  max-height: 78rem;
  margin-right: -15rem;
  z-index: 2;
}

.accordeon {
  margin-top: 4rem;
  max-width: 30rem;
  margin-left: 8rem;
}

summary {
  list-style: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 112.2%;
  text-transform: uppercase;
  color: #1d1d1a;
}

summary::-webkit-details-marker {
  display: none;
}

details[open] summary {
  font-weight: 500;
  font-size: 20px;
  line-height: 112.2%;
  text-transform: uppercase;
  color: #b68c6e;
}

details {
  position: relative;
}

details img {
  width: 197px;
  height: 162px;
  position: absolute;
  right: -120px;
  top: 20px;
}

.accordeon__title {
  padding: 2.3rem 0;
  cursor: pointer;
  position: relative;
}
.accordeon__title:hover {
  font-weight: 600;
}

.accordeon__text {
  font-size: 1.8rem;
  line-height: 1.85;
  color: #1D1D1A;
}

details[open] summary:before {
  content: "";
  width: 65px;
  height: 2px;
  background-color: #b68c6e;
  position: absolute;
  top: 33px;
  left: -80px;
}

details[open] summary::after {
  content: "";
  background-image: url(../images/price-price.png);
  background-repeat: no-repeat;
  width: 20rem;
  height: 16.4rem;
  position: absolute;
  top: 0;
  right: -22rem;
}

.action {
  background-image: url(../images/action-bg.webp);
}
.action__inner {
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: space-between;
}
.action__desc {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.action__desc-title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.85;
  margin-right: 15rem;
  text-transform: uppercase;
}
.action__desc-text {
  margin-right: auto;
  margin-left: 2rem;
  max-width: 54.6rem;
  margin-top: 2.7rem;
  font-family: "Kudryashev Display";
  font-size: 4rem;
  line-height: 1.24;
  letter-spacing: 0.03em;
  color: #B68C6E;
}
.action__desc-figures {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 2rem;
  margin-top: 5rem;
  font-family: "Kudryashev Display";
  font-size: 5.5rem;
  line-height: 1.12;
}
.action__desc-figures span {
  margin-left: 4rem;
  font-size: 3.5rem;
  line-height: 1.12;
  color: #504339;
}
.action__image {
  position: relative;
  z-index: 1;
  padding-top: 15rem;
}
.action__image::after {
  content: "";
  position: absolute;
  background-image: url(../images/action-image_bg.png);
  background-repeat: no-repeat;
  top: 3.5rem;
  left: -24rem;
  width: 90.9rem;
  height: 98.5rem;
  z-index: -1;
}
.action__image img {
  max-width: 43rem;
  max-height: 50.2rem;
}

.action__form {
  margin-top: 5rem;
  margin-right: auto;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form__input {
  padding: 3rem 4.8rem;
  background-color: inherit;
  font-size: 2rem;
  border: 1px solid #B68C6E;
  color: #fff;
}
.form__input::-moz-placeholder {
  padding-left: 3rem;
  font-size: 2rem;
  line-height: 1.85;
  text-transform: uppercase;
  color: #504339;
}
.form__input::placeholder {
  padding-left: 3rem;
  font-size: 2rem;
  line-height: 1.85;
  text-transform: uppercase;
  color: #504339;
}

.form__button {
  padding: 3rem 4.8rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.85;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid #B68C6E;
}
.form__button:hover {
  background-color: #B68C6E;
}

.timer {
  margin-top: 4.5rem;
  margin-right: auto;
  margin-left: 2rem;
}
.timer__title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.38;
  text-transform: uppercase;
}
.timer__items {
  margin-top: 1.6rem;
  display: flex;
  font-size: 48px;
}
.timer__item {
  position: relative;
  min-width: 60px;
  margin-right: 20px;
  padding-bottom: 15px;
  font-family: "Kudryashev Display";
  font-style: normal;
  font-weight: 400;
  font-size: 56.9303px;
  text-transform: uppercase;
  color: #b68c6e;
}
.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 14px;
  color: #504339;
}
.timer__item:not(:last-child)::after {
  content: ":";
  position: absolute;
  right: -15px;
}

.art {
  padding-top: 8rem;
  position: relative;
}
.art::after {
  content: "";
  position: absolute;
  background-image: url(../images/art-bg_line.svg);
  background-repeat: no-repeat;
  top: 0;
  right: 30.5rem;
  width: 68.3rem;
  height: 251.9rem;
}
.art__title {
  max-width: 73rem;
  font-family: "Kudryashev Display";
  font-size: 8.5rem;
  line-height: 1.2;
  color: #1D1D1A;
  text-transform: none;
}
.art__title span {
  color: #B68C6E;
}
.art__items {
  gap: 2rem;
}
.art__subtitle {
  font-size: 2rem;
}
.team {
  margin-top: 18rem;
  position: relative;
}
.team::before {
  content: "";
  position: absolute;
  background-image: url(../images/slider-bg_circle.png);
  background-repeat: no-repeat;
  top: 9rem;
  left: 12rem;
  width: 29.5em;
  height: 29.5em;
}
.team__title {
  max-width: 43.7rem;
  text-transform: none;
  line-height: 1;
  color: #1D1D1A;
}
.team__images {
  display: flex;
  justify-content: space-between;
}
.team__images span {
  font-family: "Kudryashev Display";
  font-size: 3rem;
  line-height: 1.23;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1D1D1A;
}
.team__images :first-child {
  max-width: 39.5rem;
}
.team__images :nth-child(2) {
  max-width: 42rem;
  margin-top: -30rem;
}
.team__images :last-child {
  max-width: 43.5rem;
  margin-top: 12.5rem;
}
.team__image {
  position: relative;
}
.team__image--hover {
  display: none;
  position: absolute;
  top: -7rem;
  left: 6.5rem;
  width: 33rem;
  height: 39.5rem;
  color: #000;
  background: #FFFFFF;
  opacity: 0.8;
  z-index: 5;
}
.team__image--hover-center {
  top: -6.9rem;
  left: 0;
}
.team__image--hover-right {
  width: 32rem;
  height: 38rem;
  top: -13rem;
  left: 0;
}
.team__image--hover::before {
  content: "";
  position: absolute;
  background-image: url(../images/team-hover.png);
  background-repeat: no-repeat;
  top: 16rem;
  left: 13rem;
  width: 8.5rem;
  height: 8.5rem;
}
.team__image--hover a {
  position: absolute;
  padding-top: 15rem;
  padding-left: 8rem;
  font-size: 1.4rem;
  line-height: 1.47;
  text-transform: uppercase;
}
.team__left {
  position: relative;
}
.team__left span {
  margin-top: 4.7rem;
  position: absolute;
  bottom: -11rem;
  left: 7rem;
}
.team__center {
  position: relative;
}
.team__center span {
  position: absolute;
  margin-left: -5rem;
}
.team__right {
  position: relative;
}
.team__right span {
  position: absolute;
  bottom: 0;
  left: -25rem;
}

.team__close {
  display: block;
}

.tour {
  position: relative;
  margin-top: 18rem;
  margin-bottom: 10rem;
}
.tour::after {
  content: "";
  position: absolute;
  background-image: url(../images/tour-sign.svg);
  background-repeat: no-repeat;
  bottom: 0;
  left: 65rem;
  width: 27.7rem;
  height: 7.5rem;
  z-index: 2;
}
.tour__title {
  max-width: 54.2rem;
  text-transform: none;
  color: #1D1D1A;
}
.tour__title span {
  color: #B68C6E;
}

.tour__slider {
  margin-top: 1rem;
}
.tour__slider img {
  width: 34rem;
}

.swiper-button-left, .swiper-button-right {
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

.tour__button-left {
  top: 17rem;
  left: 30rem;
}

.tour__button-right {
  top: 17rem;
  right: 27rem;
}

.tour__swiper-wrapper > .swiper-slide-next {
  position: relative;
  transition-delay: 2s;
}
.tour__swiper-wrapper > .swiper-slide-next img {
  transform: scale(1.3);
}

.slider__link {
  font-size: 3rem;
  color: #1D1D1A;
}

.young {
  background-image: url(../images/young-image.webp);
}
.young__inner {
  max-width: 52rem;
  padding-top: 16rem;
  padding-bottom: 14.5rem;
  display: flex;
  flex-direction: column;
}
.young__title {
  font-family: "Kudryashev Display";
  font-size: 5rem;
  line-height: 1.29;
  txt-align: center;
  letter-spacing: 0.03em;
  color: #B68C6E;
}
.young__text {
  margin-top: 2rem;
  font-size: 1.8rem;
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
}
.young__form {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.young__input {
  padding: 3rem 4.8rem;
}
.young__input::-moz-placeholder {
  padding-left: 0;
}
.young__input::placeholder {
  padding-left: 0;
}

.reviews {
  padding: 10rem 1.5rem;
  background-color: #F0E3DA;
}
.reviews__title {
  max-width: 70rem;
  color: #1D1D1A;
  text-transform: none;
}
.reviews__title span {
  color: #B68C6E;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  justify-content: space-between;
}

/* Конкретно это слайдер */
.reviews-slider {
  min-width: 0;
  margin-top: 8rem;
  position: relative;
}

.reviews-slider .slick-arrow {
  position: absolute;
  width: 9.6em;
  height: 9.6rem;
  opacity: 0.5;
  font-size: 2rem;
}

.slick-slide.slick-active {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.slider__item.slick-slide.slick-current {
  border-left: none;
}

.reviews-slider .slick-arrow.slick-prev {
  background-image: url(../images/reviews-left.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  left: -11rem;
  top: 8rem;
  text-align: center;
}

.reviews-slider .slick-arrow.slick-next {
  background-image: url(../images/reviews-right.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  right: -10.5rem;
  top: 4em;
}

.reviews-slider__item {
  max-width: 33.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews-slider__item img {
  width: 12em;
  height: 12rem;
}

.slider button {
  font-size: 30px;
}
.slider__item-title {
  margin-top: 3.1rem;
  font-family: "Kudryashev Display";
  font-size: 2rem;
  line-height: 1.13;
  color: #1D1D1A;
}
.slider__item-text {
  max-width: 26.8rem;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.4rem;
  line-height: 1.8;
  color: #22211E;
}
.slider__item-social {
  margin-top: 3.1rem;
  display: flex;
  gap: 3.6rem;
}
.slider__item-social img {
  width: 2.8rem;
  height: 1.5rem;
}
.slider__item-social img:hover {
  transform: scale(1.2);
}

.footer {
  background-color: #1D1D1A;
}
.footer__inner {
  padding-top: 10rem;
}
.footer__items {
  padding: 6.7rem 9rem 9.5rem 7rem;
  background-color: #D1AE8E;
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  width: 26.1rem;
  height: 10rem;
}
.footer__text {
  max-width: 29rem;
  font-size: 1.6rem;
  line-height: 1.5;
}
.footer a:hover {
  color: #1D1D1A;
}
.footer__desc {
  display: flex;
  flex-direction: column;
}
.footer__desc h3 {
  margin-bottom: 1.3em;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.4;
  text-transform: uppercase;
}
.footer__desc p {
  margin-bottom: 1.4rem;
  max-width: 26rem;
  font-size: 1.6rem;
  line-height: 1.4;
}
.footer__desc span {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.3;
}
.footer__map {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.25;
  text-decoration-line: underline;
}
.footer .nav__list li:first-child {
  font-weight: 600;
  text-transform: uppercase;
}
.footer .nav__list li {
  margin-bottom: 1.7rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.4;
}
.footer__mail {
  margin-bottom: 1.7rem;
  font-size: 1.6rem;
  line-height: 1;
}
.footer__phones {
  display: flex;
  flex-direction: column;
}
.footer__phones span {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5;
}
.footer__phone {
  font-family: "Kudryashev Display";
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1.8;
  letter-spacing: 0.05em;
}
.footer__callback {
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.3;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-social__images img {
  margin-right: 1.5rem;
  width: 4rem;
  height: 4rem;
}

.copyright {
  margin-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
  color: #DCD5CE;
}
.copyright p {
  line-height: 1.5;
}
.copyright a {
  margin-top: 1rem;
  text-decoration: underline;
}
.copyright a:hover {
  color: #D1AE8E;
}