@font-face {
  font-family: "Kudryashev Display";
  src: url(../fonts/KudryashevDisplay-Regular.woff2);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.container {
  width: 140rem;
  margin: 0 auto;
}

.main {
  margin: 0 auto;
}

.title {
  font-family: "Kudryashev Display";
  font-style: normal;
  font-weight: 400;
  font-size: 8.5rem;
  line-height: 1.3;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.header {
  min-height: 82.8rem;
  background-image: url(../images/header-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.header__left--desc {
  display: flex;
  gap: 3.4rem;
}
.header__left--desc span {
  max-width: 20rem;
  font-size: 1.4rem;
  line-height: 1.6;
}
.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 3.4rem;
}
.header__logo {
  width: 28.2rem;
  height: 10.9rem;
}
.header__right {
  display: flex;
  gap: 3.4rem;
}
.header__social {
  display: flex;
  gap: 3.5rem;
}
.header__social img {
  width: 2.7rem;
  height: 2.7rem;
}
.header__phone--number {
  font-family: "Kudryashev Display";
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1.2;
  letter-spacing: 0.05em;
}
.header__phone--text {
  margin-top: 1.3rem;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.25;
}
.header__desc {
  margin-top: 6.8rem;
  display: flex;
  flex-direction: column;
}
.header__title {
  max-width: 71rem;
  font-family: "Kudryashev Display";
  font-weight: 400;
  font-size: 6rem;
  line-height: 1.3;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.header__title span {
  font-size: 8rem;
}
.header__text {
  margin-top: 3rem;
  max-width: 37.8rem;
  font-size: 2.3rem;
  line-height: 1.65;
}
.header__text span {
  font-weight: 600;
}
.header__link {
  cursor: pointer;
  position: relative;
  margin-top: 10rem;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  z-index: 5;
}
.header__link::before {
  content: "";
  background-image: url(../images/header-circle.svg);
  width: 18rem;
  height: 16rem;
  position: absolute;
  top: -7rem;
  left: -11rem;
}
.header__bg--circle {
  position: absolute;
  top: 0;
  right: 3.5%;
}

.problems {
  padding-top: 9rem;
  margin-bottom: 16rem;
  background-image: url(../images/bg-dotted.webp);
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}
.problems::before {
  content: "";
  background-image: url(../images/problems-line.svg);
  background-repeat: no-repeat;
  background-position-x: 150rem;
  top: 0;
  position: absolute;
  width: 100%;
  height: 102.7rem;
  z-index: -1;
}
.problems__main {
  display: flex;
  justify-content: space-between;
}
.problems__image {
  margin-left: -13rem;
  max-width: 77.6rem;
  max-height: 77.3rem;
  flex-shrink: 0;
}
.problems__desc {
  max-width: 77.1rem;
}
.problems__desc--title {
  margin-top: 5rem;
  margin-left: -10rem;
  font-family: "Kudryashev Display";
  font-size: 8.8rem;
  line-height: 1;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #312C38;
}
.problems__desc--subtitle {
  margin-top: 1rem;
  margin-left: 4rem;
  font-family: "Kudryashev Display";
  font-size: 7.67rem;
  line-height: 1;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #B68C6E;
}
.problems__desc--text {
  margin-left: 4rem;
  margin-top: 1rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1;
  text-transform: uppercase;
  color: #312C38;
}
.problems__items {
  position: relative;
  margin-left: 6rem;
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 70%;
  justify-content: space-between;
  gap: 5.5rem 2rem;
  align-items: center;
}
.problems__item {
  display: flex;
  gap: 2rem;
  max-width: 30rem;
  font-size: 1.8rem;
  line-height: 1.64;
  color: #1D1D1A;
  overflow: hidden;
}
.problems__item--img img {
  width: 8.1rem;
  height: 6rem;
}
.problems__link {
  position: relative;
  cursor: pointer;
  margin-left: 19rem;
  margin-top: 12rem;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1D1D1A;
  z-index: 5;
}
.problems__link::before {
  content: "";
  background-image: url(../images/problems__link.svg);
  width: 18rem;
  height: 16rem;
  position: absolute;
  top: -6rem;
  left: -12rem;
}

.aptos {
  padding-bottom: 12rem;
  background-color: #F0E3DA;
  background-image: url(../images/bg-dotted.webp);
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  z-index: -2;
}
.aptos__up {
  display: flex;
  justify-content: space-between;
}
.aptos__image {
  margin-left: -13rem;
}
.aptos__image img {
  min-width: 83.2rem;
}
.aptos__desc {
  margin-top: 26rem;
  margin-left: 10rem;
}
.aptos__desc--title {
  margin-left: -15rem;
  font-family: "Kudryashev Display";
  font-size: 8.8rem;
  line-height: 1;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #312C38;
}
.aptos__desc--subtitle {
  margin-top: 1.2rem;
  font-family: "Kudryashev Display";
  font-size: 7.67rem;
  line-height: 1;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #B68C6E;
}
.aptos__desc--title-text {
  margin-top: 5rem;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 2rem;
  line-height: 1;
  text-transform: uppercase;
  color: #312C38;
}
.aptos__desc--text {
  margin-top: 1.5rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8;
  color: #1D1D1A;
}
.aptos__middle {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.aptos__middle--left {
  max-width: 56.3rem;
}
.aptos__middle--left__goldtext {
  position: relative;
  margin-top: 23.3rem;
  font-family: "Lora";
  font-style: italic;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 1.54;
  color: #B68C6E;
}
.aptos__middle--left__goldtext::before {
  content: "";
  background-image: url(../images/quotes.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 15.3rem;
  height: 9.8rem;
  top: -2rem;
  left: -9rem;
  z-index: -1;
}
.aptos__middle--left__text {
  margin-top: 11rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2;
  color: #1D1D1A;
}
.aptos__middle--right {
  position: relative;
}
.aptos__middle--right::before {
  content: "";
  position: absolute;
  width: 22.3rem;
  height: 21rem;
  background-image: url(../images/aptos-circle.webp);
  top: 10rem;
  left: 16rem;
}
.aptos__middle--right::after {
  content: "";
  position: absolute;
  background-image: url(../images/aptos-dottes_right.png);
  width: 13.1rem;
  height: 11.7rem;
  bottom: 29rem;
  right: 5rem;
}
.aptos__middle--right-text {
  margin: 5rem auto;
  max-width: 57.9rem;
  font-size: 1.8rem;
  line-height: 2;
  color: #1D1D1A;
}
.aptos__small-img {
  margin-top: 32.5rem;
}
.aptos__big-img img {
  height: 64.8rem;
}
.aptos__images {
  margin-top: 9rem;
  display: flex;
  gap: 5rem;
}
.aptos__bottom {
  display: flex;
}
.aptos__bottom::before {
  content: "";
  position: absolute;
  bottom: 77rem;
  left: -6rem;
  z-index: -5;
  width: 89.3rem;
  height: 53.4rem;
  background-color: #EACFBC;
}
.aptos__bottom--title {
  margin-top: 10rem;
  margin-left: 48rem;
  margin-bottom: -8rem;
  max-width: 60rem;
  font-family: "Kudryashev Display";
  font-size: 8.5rem;
  line-height: 0.9;
  color: #1D1D1A;
  position: relative;
  z-index: 2;
}
.aptos__bottom--title span {
  color: #B68C6E;
}
.aptos__bottom--left {
  position: relative;
  max-width: 90rem;
}
.aptos__bottom--left-image__play {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.aptos__bottom--right {
  max-width: 73.6rem;
}
.aptos__bottom--desc {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
}
.aptos__bottom--desc-left {
  max-width: 38.5rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.9;
  text-transform: uppercase;
  color: #1D1D1A;
}
.aptos__bottom--desc-left span {
  color: #B68C6E;
  border-bottom: 0.2rem solid #B68C6E;
}
.aptos__bottom--desc-right {
  display: flex;
  flex-direction: column;
  gap: 3.2rem 0;
}
.aptos__bottom--desc-right__item {
  width: 73.8rem;
  display: flex;
  padding-bottom: 2rem;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.35;
  text-transform: uppercase;
  color: #1D1D1A;
  border-bottom: 1px solid #B68C6E;
}
.aptos__items {
  margin-left: 7rem;
  margin-top: 15rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 4rem 0;
}
.aptos__item {
  max-width: 73.6rem;
  display: flex;
  justify-content: space-between;
}
.aptos__item--num {
  margin-left: 4rem;
  font-size: 2rem;
  line-height: 1.8;
  color: #22211E;
}
.aptos__item--title {
  font-family: sans-serif;
  margin-left: 2rem;
  padding-top: 1rem;
  width: 20rem;
  font-style: italic;
  font-size: 3rem;
  line-height: 1.4;
  color: #1D1D1A;
}
.aptos__item--text {
  padding-top: 1rem;
  margin-left: 4.5rem;
  width: 44.4rem;
  font-size: 1.8rem;
  line-height: 1.8;
  color: #1D1D1A;
}