.aptos {
    padding-bottom: 12rem;
    background-color: #F0E3DA;
    background-image: url(../images/bg-dotted.webp);
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    z-index: -2;
    &::before {
        content: '';
        background-image: url(../images/aptos-big_line.webp);
        background-repeat: no-repeat;
        background-size: 100%;
        top: 5rem;
        width: 91.3rem;
        height: 330.5rem;
        position: absolute;
        z-index: -1;
    }
    &__up {
        display: flex;
        justify-content: space-between;
    }
    &__image {
        margin-left: -13rem;
       & img {
        min-width: 83.2rem;
       }
    }
    &__desc {
        margin-top: 26rem;
        margin-left: 10rem;
        &--title {
            margin-left: -15rem;
            font-family: 'Kudryashev Display';
            font-size: 8.8rem;
            line-height: 1;
            letter-spacing: .5rem;
            text-transform: uppercase;
            color: #312C38;
        }
        &--subtitle {
            margin-top: 1.2rem;
            font-family: 'Kudryashev Display';
            font-size: 7.67rem;
            line-height: 1;
            letter-spacing: .5rem;
            text-transform: uppercase;
            color: #B68C6E;
        }
        &--title-text {
            margin-top: 5rem;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 2rem;
            line-height: 1;
            text-transform: uppercase;
            color: #312C38;
        }
        &--text {
            margin-top: 1.5rem;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2.8;
            color: #1D1D1A;
        }
    }
    &__middle {
            display: flex;
            justify-content: space-between;
            gap: 2rem;
        &--left {
            max-width: 56.3rem;
            &__goldtext {
                position: relative;
                margin-top: 23.3rem;
                font-family: 'Lora';
                font-style: italic;
                font-weight: 400;
                font-size: 3.5rem;
                line-height: 1.54;
                color: #B68C6E;
                &::before {
                    content: '';
                    background-image: url(../images/quotes.svg);
                    position: absolute;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 15.3rem;
                    height: 9.8rem;
                    top: -2rem;
                    left: -9rem;
                    z-index: -1;
                }
            }
            &__text {
                margin-top: 11rem;
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 2;
                color: #1D1D1A;
            }
        }
        &--right {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 22.3rem;
                height: 21rem;
                background-image: url(../images/aptos-circle.webp);
                top: 10rem;
                left: 16rem;
            }
            &::after {
                content: '';
                position: absolute;
                background-image: url(../images/aptos-dottes_right.png);
                width: 13.1rem;
                height: 11.7rem;
                bottom: 29rem;
                right: 5rem;
            }
            &-text {
                margin: 5rem auto;
                max-width: 57.9rem;
                font-size: 1.8rem;
                line-height: 2;
                color: #1D1D1A;
            }
        }
    }

    &__small-img {
        margin-top: 32.5rem;
    }
    &__big-img {

        & img {
            height: 64.8rem;
        }
    }
    &__images {
        margin-top: 9rem;
        display: flex;
        gap: 5rem;
    }
    &__bottom {
        display: flex;
        &::before {
            content: '';
            position: absolute;
            bottom: 77rem;
            left: -6rem;
            z-index: -5;
            width: 89.3rem;
            height: 53.4rem;
            background-color: #EACFBC;
        }
        &--title {
            margin-top: 10rem;
            margin-left: 48rem;
            margin-bottom: -8rem;
            max-width: 60rem;
            font-family: 'Kudryashev Display';
            font-size: 8.5rem;
            line-height: .9;            
            color: #1D1D1A;
            position: relative;
            z-index: 2;
            & span {
                color: #B68C6E;
            }
        }
        &--left {
            position: relative;
            max-width: 90rem;
            &-image__play {
                cursor: pointer;
                position: absolute;
                top: 54%;
                left: 50%;
                transform: translate(-50% , -50%); 
            }
        }
        &--right {
            max-width: 73.6rem;
        }
        &--desc {
            display: flex;
            justify-content: space-between;
            margin-top: 10rem;
            &-left {
                max-width: 38.5rem;
                font-weight: 500;
                font-size: 1.8rem;
                line-height: 1.9;
                text-transform: uppercase;
                color: #1D1D1A;
                & span {
                color: #B68C6E;
                border-bottom: .2rem solid #B68C6E;
                }
            }
            &-right {
                display: flex;
                flex-direction: column;
                gap: 3.2rem 0;
                &__item {
                   width: 73.8rem;
                   display: flex;
                   padding-bottom: 2rem;
                   justify-content: space-between;
                   font-weight: 500;
                    font-size: 1.8rem;
                    line-height: 1.35;
                    text-transform: uppercase;
                    color: #1D1D1A;
                    border-bottom: 1px solid #B68C6E;
                }
            }
        }
    }
    &__items {
        margin-left: 7rem;
        margin-top: 15rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        gap: 4rem 0;
    }
    &__item {
        max-width: 73.6rem;
        display: flex;
        justify-content: space-between;
     &--num {
        margin-left: 4rem;
        font-size: 2rem;
        line-height: 1.8;
        color: #22211E;
      } 
      &--title {
        font-family: 'Lora';
        font-style: italic;
        margin-left: 2rem;
        padding-top: 1rem;
        width: 20rem;
        font-size: 3rem;
        line-height: 1.4;
        color: #1D1D1A;
      }
      &--text {
        padding-top: 1rem;
        margin-left: 4.5rem;
        width: 44.4rem;
        font-size: 1.8rem;
        line-height: 1.8;
        color: #1D1D1A;
      }
   }
}

