.aptos {
  padding-bottom: 12rem;
  background-color: #f0e3da;
  background-image: url(../images/bg-dotted.webp);
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  z-index: -2;
  &::before {
    content: "";
    background-image: url(../images/aptos-big_line.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    top: 5rem;
    width: 91.3rem;
    height: 330.5rem;
    position: absolute;
    z-index: -1;
  }
  &__up {
    display: flex;
    justify-content: space-between;
  }
  &__image {
    margin-left: -13rem;
    & img {
      min-width: 83.2rem;
    }
  }
  &__desc {
    margin-top: 26rem;
    margin-left: 10rem;
    &--title {
      margin-left: -15rem;
      font-family: "Kudryashev Display";
      font-size: 8.8rem;
      line-height: 1;
      letter-spacing: 0.5rem;
      text-transform: uppercase;
      color: #312c38;
    }
    &--subtitle {
      margin-top: 1.2rem;
      font-family: "Kudryashev Display";
      font-size: 7.67rem;
      line-height: 1;
      letter-spacing: 0.5rem;
      text-transform: uppercase;
      color: #b68c6e;
    }
    &--title-text {
      margin-top: 5rem;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 2rem;
      line-height: 1;
      text-transform: uppercase;
      color: #312c38;
    }
    &--text {
      margin-top: 1.5rem;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2.8;
      color: #1d1d1a;
    }
  }
  &__middle {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    &--left {
      max-width: 56.3rem;
      &__goldtext {
        position: relative;
        margin-top: 23.3rem;
        font-family: "Lora";
        font-style: italic;
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 1.54;
        color: #b68c6e;
        &::before {
          content: "";
          background-image: url(../images/quotes.svg);
          position: absolute;
          background-repeat: no-repeat;
          background-size: contain;
          width: 15.3rem;
          height: 9.8rem;
          top: -2rem;
          left: -9rem;
          z-index: -1;
        }
      }
      &__text {
        margin-top: 11rem;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2;
        color: #1d1d1a;
      }
    }
    &--right {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 22.3rem;
        height: 21rem;
        background-image: url(../images/aptos-circle.webp);
        top: 10rem;
        left: 16rem;
      }
      &::after {
        content: "";
        position: absolute;
        background-image: url(../images/aptos-dottes_right.png);
        width: 13.1rem;
        height: 11.7rem;
        bottom: 29rem;
        right: 5rem;
      }
      &-text {
        margin: 5rem auto;
        max-width: 57.9rem;
        font-size: 1.8rem;
        line-height: 2;
        color: #1d1d1a;
      }
    }
  }

  &__small-img {
    margin-top: 32.5rem;
  }
  &__big-img {
    & img {
      max-height: 64.8rem;
    }
  }
  &__images {
    margin-top: 9rem;
    display: flex;
    gap: 5rem;
  }
  &__bottom {
    display: flex;
    &::before {
      content: "";
      position: absolute;
      bottom: 77rem;
      left: -6rem;
      z-index: -5;
      width: 89.3rem;
      height: 53.4rem;
      background-color: #eacfbc;
    }
    &--title {
      margin-top: 10rem;
      margin-left: 48rem;
      margin-bottom: -8rem;
      max-width: 60rem;
      font-family: "Kudryashev Display";
      font-size: 8.5rem;
      line-height: 0.9;
      color: #1d1d1a;
      position: relative;
      z-index: 2;
      & span {
        color: #b68c6e;
      }
    }
    &--left {
      position: relative;
      max-width: 90rem;
      &-image__play {
        cursor: pointer;
        position: absolute;
        top: 54%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &--right {
      max-width: 73.6rem;
    }
    &--desc {
      display: flex;
      justify-content: space-between;
      margin-top: 10rem;
      &-left {
        max-width: 38.5rem;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 1.9;
        text-transform: uppercase;
        color: #1d1d1a;
        & span {
          color: #b68c6e;
          border-bottom: 0.2rem solid #b68c6e;
        }
      }
      &-right {
        display: flex;
        flex-direction: column;
        gap: 3.2rem 0;
        &__item {
          width: 73.8rem;
          display: flex;
          padding-bottom: 2rem;
          justify-content: space-between;
          font-weight: 500;
          font-size: 1.8rem;
          line-height: 1.35;
          text-transform: uppercase;
          color: #1d1d1a;
          border-bottom: 1px solid #b68c6e;
        }
      }
    }
  }
  &__items {
    margin-left: 7rem;
    margin-top: 15rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 4rem 0;
  }
  &__item {
    max-width: 73.6rem;
    display: flex;
    justify-content: space-between;
    &--num {
      margin-left: 4rem;
      font-size: 2rem;
      line-height: 1.8;
      color: #22211e;
    }
    &--title {
      font-family: "Lora";
      font-style: italic;
      margin-left: 2rem;
      padding-top: 1rem;
      width: 20rem;
      font-size: 3rem;
      line-height: 1.4;
      color: #1d1d1a;
    }
    &--text {
      padding-top: 1rem;
      margin-left: 4.5rem;
      width: 44.4rem;
      font-size: 1.8rem;
      line-height: 1.8;
      color: #1d1d1a;
    }
  }
}

//   --------------------ADAPTIVE--------------------

@media (max-width: 1240px) {
  .aptos {
    padding-bottom: 8rem;
    &::before {
      display: none;
    }
    &__up {
      display: flex;
      justify-content: space-between;
    }
    &__image {
      padding-top: 8rem;
      margin-left: 0;
      & img {
        min-width: 40rem;
      }
    }
    &__desc {
      margin-top: 10rem;
      margin-left: 10rem;
      &--title {
        margin-left: -8rem;
        font-size: 7rem;
      }
      &--subtitle {
        margin-top: 1rem;
        font-size: 6rem;
      }
      &--title-text {
        margin-top: 2rem;
        font-size: 1.8rem;
      }
      &--text {
        font-size: 1.6rem;
        line-height: 1.6;
      }
    }
    &__middle {
      display: flex;
      justify-content: space-between;
      gap: 1.5rem;
      &--left {
        max-width: 40rem;
        &__goldtext {
          margin-top: 15rem;
          font-size: 2.5rem;
          &::before {
            width: 10rem;
            height: 9rem;
            top: -1rem;
            left: -1rem;
          }
        }
        &__text {
          margin-top: 3rem;
          font-size: 1.6rem;
        }
      }
      &--right {
        &::before {
          display: none;
        }
        &::after {
          display: none;
        }
        &-text {
          margin: 3rem auto;
          max-width: 74rem;
          font-size: 1.6rem;
        }
      }
    }

    &__small-img {
      margin-top: 25rem;
    }
    &__big-img {
      & img {
        max-height: 40rem;
      }
    }
    &__images {
      margin-top: 7rem;
      gap: 3rem;
    }
    &__bottom {
      &::before {
        bottom: 55rem;
        left: -6rem;
        z-index: -5;
        max-width: 61rem;
        max-height: 46rem;
      }
      &--title {
        margin-top: 8rem;
        margin-left: 45rem;
        margin-bottom: -8rem;
        font-size: 7rem;
      }
      &--left {
        max-width: 70rem;
        &-image__play {
          cursor: pointer;
          position: absolute;
          top: 30%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &--right {
        max-width: 70rem;
      }
      &--desc {
        &-left {
          max-width: 38.5rem;
          font-size: 1.6rem;
        }
        &-right {
          gap: 2.2rem 0;
          &__item {
            max-width: 50rem;
            font-size: 1.6rem;
          }
        }
      }
    }
    &__items {
      margin-left: 2rem;
      margin-top: 12rem;
      gap: 2rem 0;
    }
    &__item {
      padding-left: 0.5rem;
      max-width: 73.6rem;
      &--num {
        font-size: 1.8rem;
      }
      &--title {
        max-width: 20rem;
        font-size: 2.4rem;
      }
      &--text {
        margin-left: 0;
        max-width: 44.4rem;
        font-size: 1.6rem;
      }
    }
  }
}

@media (max-width: 925px) {
  .aptos {
    &::before {
    }
    &__up {
      flex-direction: column;
    }
    &__image {
      text-align: center;
      margin-top: -8rem;
      padding-top: 0;
      margin-left: 0;
      & img {
        max-width: 50rem;
      }
    }
    &__desc {
      margin-top: 4rem;
      text-align: center;
      &--title {
        margin-left: 0;
        font-size: 5.5rem;
      }
      &--subtitle {
        margin-top: 1rem;
        font-size: 4.5rem;
      }
      &--title-text {
        font-weight: 500;
        margin-top: 1.5rem;
        font-size: 1.6rem;
      }
      &--text {
        margin-top: 1.5rem;
        font-size: 1.6rem;
        line-height: 1.4;
      }
    }
    &__small-img {
      margin-top: 1rem;
      margin-left: 20rem;
      & img {
        max-height: 25rem;
      }
    }
    &__big-img {
      & img {
        margin-top: -5rem;
        max-height: 25rem;
      }
    }
    &__middle {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      &--left {
        margin-left: 10rem;
        max-width: 70rem;
        &__goldtext {
          margin-top: 2.5rem;
          font-size: 2rem;
          &::before {
            width: 5rem;
            height: 7rem;
            top: 0;
            left: -1rem;
          }
        }
      }
      &--right {
        &-text {
          margin-left: 10rem;
          max-width: 70rem;
          font-size: 1.6rem;
        }
      }
    }

    &__items {
      flex-direction: column;
      align-items: center;
      margin-left: 2rem;
      margin-top: 5rem;
      gap: 2rem 0;
    }
    &__bottom {
      padding-top: 3rem;
      flex-direction: column;
      align-items: center;
      &::before {
        bottom: 85rem;
        left: -6rem;
        z-index: -5;
        max-width: 50rem;
        max-height: 40rem;
      }
      &--title {
        position: absolute;
        bottom: 95rem;
        right: 20rem;
        font-size: 5rem;
      }
      &--left {
        max-width: 35rem;
        &-image__play {
          top: 40%;
        }
      }
      &--right {
        padding-top: 20rem;
        max-width: 70rem;
      }
      &--desc {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
      }
    }
    &__item {
      padding-left: 0.5rem;
      max-width: 73.6rem;
      &--num {
        font-size: 1.6rem;
      }
      &--title {
        padding: 0.5rem;
        font-size: 2rem;
      }
      &--text {
        max-width: 40rem;
        font-size: 1.4rem;
      }
    }
  }
}

@media (max-width: 665px) {
  .aptos {
    &__up {
    }
    &__image {
      text-align: center;
      margin-top: -7rem;
      & img {
        min-width: 25rem;
        max-width: 30rem;
      }
    }
    &__desc {
      margin: 3rem auto;
      text-align: center;
      &--title {
        margin-top: -1rem;
        margin-left: 0;
        font-size: 4rem;
      }
      &--subtitle {
        margin-top: 0.5rem;
        font-size: 3rem;
      }
      &--title-text {
        margin-top: 1rem;
        font-size: 1.6rem;
      }
      &--text {
        text-align: center;
        margin-top: 1rem;
        font-size: 1.4rem;
      }
    }
    &__images {
      margin-top: 5rem;
      gap: 2rem;
    }
    &__small-img {
      margin: 0, auto;
      margin-left: 13rem;
      & img {
      }
    }
    &__big-img {
      & img {
        margin-left: 0;
        margin-top: -5rem;
      }
    }
    &__middle {
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      &--left {
        margin-left: 10rem;
        &__goldtext {
          margin-top: -1rem;
          font-size: 1.8rem;
        }
      }
      &--right {
        &-text {
          margin: 0, auto;
          max-width: 70rem;
          font-size: 1.4rem;
        }
      }

      &__items {
        margin-left: 1rem;
        margin-top: 3rem;
        gap: 1rem 0;
      }
      &__bottom {
        padding-top: 3rem;
        flex-direction: column;
        align-items: center;
        &::before {
          bottom: 85rem;
          left: -6rem;
          z-index: -5;
          max-width: 50rem;
          max-height: 40rem;
        }
        &--title {
          position: absolute;
          bottom: 95rem;
          right: 20rem;
          font-size: 5rem;
        }
        &--left {
          max-width: 35rem;
          &-image__play {
            top: 40%;
          }
        }
        &--right {
          padding-top: 20rem;
          max-width: 70rem;
        }
        &--desc {
          margin-top: 3rem;
          display: flex;
          flex-direction: column;
          gap: 3rem;
          align-items: center;
        }
      }
    }
    &__bottom {
      &::before {
        bottom: 115rem;
        left: -6rem;
        z-index: -5;
        max-width: 50rem;
        max-height: 36rem;
      }
      &--title {
        position: absolute;
        bottom: 105rem;
        font-size: 4rem;
      }
      &--left {
        &-image__play {
          top: 50%;
        }
      }
      &--right {
        padding-top: 10rem;
      }
      &--desc {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
        align-items: center;
        &-right__item {
          padding: 0;
          max-width: 30rem;
          font-size: 1.4rem;
        }
      }
    }
    &__item {
      position: relative;
      flex-direction: column;
      padding-left: 0;
      max-width: 50rem;
      &--num {
        position: absolute;
        top: 0.7rem;
        left: -4.5rem;
        font-size: 1.4rem;
      }
      &--title {
        font-size: 2rem;
      }
      &--text {
        max-width: 40rem;
        font-size: 1.4rem;
      }
    }
  }
}

@media (max-width: 426px) {
  .aptos {
    &__bottom {
      &--title {
        position: absolute;
        right: 8rem;
        bottom: 110rem;
        font-size: 4rem;
      }
      &--desc {
        text-align: center;
        &-left {
          margin-bottom: 1rem;
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 1.6;
        }
      }
    }
    &__items {
      margin-top: 7rem;
    }
    &__item {
      position: relative;
      flex-direction: column;
      max-width: 40rem;
      &--num {
        position: absolute;
        top: 0.3rem;
        left: -4.5rem;
        font-size: 1.4rem;
      }
      &--title {
        line-height: 1;
        padding-left: 0;
        font-size: 2rem;
      }
      &--text {
        max-width: 25rem;
        font-size: 1.4rem;
      }
    }
  }
}
