.header {
    min-height: 82.8rem;
    background-image: url(../images/header-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    &__left--desc  {
        display: flex;
        gap: 3.4rem;
        & span {
        max-width: 20rem;
        font-size: 1.4rem;
        line-height: 1.6;
        }
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left {
        display: flex;
        align-items: center;
        gap: 3.4rem;
    }
    &__logo {
        width: 28.2rem;
        height: 10.9rem;
    }
    &__right {
        display: flex;
        gap: 3.4rem;

    }
    &__social {
        display: flex;
        gap: 3.5rem;
        & img {
            width: 2.7rem;
            height: 2.7rem;
        }
    }
    &__phone {

        &--number {
            font-family: 'Kudryashev Display';
            font-style: normal;
            font-weight: 700;
            font-size: 2.2rem;
            line-height: 1.2;
            letter-spacing: 0.05em;
        }
        &--text {
            margin-top: 1.3rem;
            font-weight: 700;
            font-size: 1.2rem;
            line-height: 1.25;
        }
    }
    &__desc {
    margin-top: 6.8rem;
    display: flex;
    flex-direction: column;
    }

    &__title {
        max-width: 71rem;
        font-family: 'Kudryashev Display';
        font-weight: 400;
        font-size: 6rem;
        line-height: 1.3;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        & span {
            font-size: 8rem;
        }
    }
    &__text {
        margin-top: 3rem;
        max-width: 37.8rem;
        font-size: 2.3rem;
        line-height: 1.65;
        & span {
        font-weight: 600;
        }
    }
    &__link {
        position: relative;
        margin-top: 10rem;
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 1.2;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        &::before {
            content: '';
            background-image: url(../images/header-circle.svg);
            width: 18rem;
            height: 16rem;
            position: absolute;
            top: -7rem;
            left: -11rem;
        }
    }
    &__bg--circle {
        position: absolute;
        top: 0;
        right: 17.5%;
    }
}