.problems {
  padding-top: 8rem;
  margin-bottom: 16rem;
  background-image: url(../images/bg-dotted.webp);
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  &::before {
    content: "";
    background-image: url(../images/problems-line.svg);
    background-repeat: no-repeat;
    background-position-x: 150rem;
    top: 0;
    position: absolute;
    width: 100%;
    height: 102.7rem;
    z-index: -1;
  }
  &__main {
    display: flex;
    justify-content: space-between;
  }
  &__image {
    margin-left: -13rem;
    max-width: 77.6rem;
    max-height: 77.3rem;
    flex-shrink: 0;
  }
  &__desc {
    max-width: 77.1rem;
    &--title {
      margin-top: 5rem;
      margin-left: -10rem;
      font-family: "Kudryashev Display";
      font-size: 8.8rem;
      line-height: 1;
      letter-spacing: 0.5rem;
      text-transform: uppercase;
      color: #312c38;
    }
    &--subtitle {
      margin-top: 1rem;
      margin-left: 4rem;
      font-family: "Kudryashev Display";
      font-size: 7.67rem;
      line-height: 1;
      letter-spacing: 0.5rem;
      text-transform: uppercase;
      color: #b68c6e;
    }
    &--text {
      margin-left: 4rem;
      margin-top: 1rem;
      font-weight: 400;
      font-size: 2rem;
      line-height: 1;
      text-transform: uppercase;
      color: #312c38;
    }
  }
  &__items {
    position: relative;
    margin-left: 6rem;
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 70%;
    justify-content: space-between;
    gap: 5.5rem 2rem;
    align-items: center;
  }
  &__item {
    display: flex;
    gap: 2rem;
    max-width: 30rem;
    font-size: 1.8rem;
    line-height: 1.64;
    color: #1d1d1a;
    overflow: hidden;
    &--img img {
      width: 8.1rem;
      height: 6rem;
    }
  }
  &__link {
    margin-left: 19rem;
    margin-top: 12rem;
    color: #1d1d1a;
    z-index: 5;
    &::before {
      top: -6rem;
      left: -12rem;
    }
  }
}

//   --------------------ADAPTIVE--------------------

@media (max-width: 1240px) {
  .problems {
    margin-top: 3rem;
    margin-bottom: 12rem;
    background-image: none;
    position: relative;
    &::before {
      background-image: none;
    }

    &__image {
      margin-left: 0;
      max-width: 65rem;
      z-index: -1;
    }
    &__desc {
      max-width: 60rem;
      margin-top: -8rem;
      &--title {
        margin-top: 3rem;
        margin-left: -10rem;
        font-size: 5rem;
      }
      &--subtitle {
        margin-left: 1rem;
        font-size: 4rem;
      }
      &--text {
        margin-left: 1rem;
        font-size: 1.6rem;
      }
    }
    &__items {
      position: relative;
      margin-left: 1rem;
      margin-top: 3.5rem;
      gap: 2rem 1rem;
    }
    &__item {
      gap: 0.5rem;
      font-size: 1.4rem;
      &--img img {
        width: 8rem;
        height: 4rem;
      }
    }
    &__link {
      margin-left: 13rem;
      margin-top: 5rem;
    }
  }
}

@media (max-width: 1004px) {
  .problems {
    padding-top: 3rem;
    margin-bottom: 17rem;
    &__main {
      flex-direction: column;
      align-items: center;
    }
    &__image {
      margin-left: -13rem;
      max-width: 50rem;
    }
    &__desc {
      &--title {
        margin-top: 6rem;
        margin-left: 5rem;
        font-size: 4rem;
      }
      &--subtitle {
        margin-left: 18rem;
        font-size: 3.5rem;
      }
      &--text {
        margin-top: 2rem;
        margin-left: 18rem;
        font-size: 1.6rem;
      }
    }
    &__items {
      margin-left: 15rem;
      margin-top: 4rem;
      gap: 1.5rem 0;
      align-items: center;
    }
    &__item {
      gap: 1rem;
      font-size: 1.4rem;
      &--img img {
        width: 8rem;
      }
    }
    &__link {
      margin-left: 23rem;
      margin-top: 3.5rem;
      font-size: 2rem;
      &::before {
        background-image: url(../images/circle-brown_mobile.svg);
        background-repeat: no-repeat;
        top: -3rem;
        left: -7rem;
      }
    }
  }
}

@media (max-width: 661px) {
  .problems {
    padding-top: 3rem;
    margin-bottom: 10rem;
    &__image {
      margin: 0 auto;
      max-width: 40rem;
    }
    &__desc {
      &--title {
        margin-top: 6rem;
        text-align: center;
        font-size: 3rem;
        margin-left: auto;
      }
      &--subtitle {
        text-align: center;
        margin-left: auto;
        font-size: 2.5rem;
      }
      &--text {
        margin-top: 2rem;
        margin-left: auto;
        text-align: center;
        font-size: 1.6rem;
      }
    }
    &__items {
      justify-content: center;
      margin-left: 0;
      margin-top: 4rem;
      gap: 1.5rem 3rem;
    }
    &__item {
      min-width: 30rem;
      font-size: 1.6rem;
    }
    &__link {
      margin-left: 13rem;
      margin-top: 3rem;
      font-size: 1.8rem;
      &::before {
        top: -3rem;
        left: -7rem;
      }
    }
  }
}
