*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

html {
  font-family: "Montserrat", sans-serif; // шрифт по умолчанию по сайту
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #ffffff;
  position: relative;
  z-index: 0;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  flex-shrink: 0;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.title {
  font-family: "Kudryashev Display";
  font-style: normal;
  font-weight: 400;
  font-size: 8.5rem;
  line-height: 1.3;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.link-circle {
  cursor: pointer;
  position: relative;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  z-index: 0;
  &::before {
    content: "";
    background-image: url(../images/header-circle.svg);
    width: 18rem;
    height: 16rem;
    position: absolute;
    top: -7rem;
    left: -10rem;
  }
}

.link-circle--brown::before {
  content: "";
  width: 18rem;
  height: 16rem;
  position: absolute;
  background-image: url(../images/problems__link.svg);
}
