.young {
  background-image: url(../images/young-image.webp);
  background-repeat: no-repeat;
  background-position: center;
  &__inner {
    max-width: 52rem;
    padding-top: 16rem;
    padding-bottom: 14.5rem;
    display: flex;
    flex-direction: column;
  }
  &__desc {
  }
  &__title {
    font-family: "Kudryashev Display";
    font-size: 5rem;
    line-height: 1.29;
    txt-align: center;
    letter-spacing: 0.03em;
    color: #b68c6e;
  }
  &__text {
    margin-top: 2rem;
    font-size: 1.8rem;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
  }
  &__form {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__input {
    padding: 3rem 4.8rem;
    &::placeholder {
      padding-left: 0;
    }
  }
}
.reviews {
  padding: 10rem 1.5rem;
  background-color: #f0e3da;
  &__title {
    max-width: 70rem;
    color: #1d1d1a;
    text-transform: none;
    & span {
      color: #b68c6e;
    }
  }
}

// ====================Slick Slider======================

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  justify-content: space-between;
}

/* Конкретно это слайдер */
.reviews-slider {
  min-width: 0;
  margin-top: 8rem;
  position: relative;
}

.reviews-slider .slick-arrow {
  position: absolute;
  width: 9.6em;
  height: 9.6rem;
  opacity: 0.5;
  font-size: 2rem;
}

.slick-slide.slick-active {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.slider__item.slick-slide.slick-current {
  border-left: none;
}
.reviews-slider .slick-arrow.slick-prev {
  background-image: url(../images/reviews-left.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  left: -11rem;
  top: 8rem;
  text-align: center;
}
.reviews-slider .slick-arrow.slick-next {
  background-image: url(../images/reviews-right.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  right: -10.5rem;
  top: 4em;
}
.reviews-slider__item {
  max-width: 33.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  & img {
    width: 12em;
    height: 12rem;
  }
}

.slider {
  & button {
    font-size: 30px;
  }
  &__item-title {
    margin-top: 3.1rem;
    font-family: "Kudryashev Display";
    font-size: 2rem;
    line-height: 1.13;
    color: #1d1d1a;
  }
  &__item-text {
    max-width: 26.8rem;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.4rem;
    line-height: 1.8;
    color: #22211e;
  }
  &__item-social {
    margin-top: 3.1rem;
    display: flex;
    gap: 3.6rem;
  }
  &__item-social {
    & img {
      width: 2.8rem;
      height: 1.5rem;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

//   --------------------ADAPTIVE--------------------

@media (max-width: 1200px) {
  .young {
    min-width: 70rem;
    &__inner {
      max-width: 45rem;
    }

    &__title {
      text-align: center;
      font-size: 4rem;
    }
    &__text {
      margin-top: 2rem;
      font-size: 1.6rem;
    }
    &__form {
      margin-top: 3rem;
    }
    &__input {
      padding: 2rem 3.5rem;
      &::placeholder {
        padding-left: 0;
      }
    }
  }
}

@media (max-width: 1000px) {
  .young {
    padding-bottom: 80rem;
    background-image: url(../images/young-image_mobile.png);
    background-position: 50% 75rem;
    background-size: contain;
    background-color: #000;
    &__inner {
      margin: 0 auto;
      max-width: 100%;
      padding-top: 10rem;
      padding-bottom: 14.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__desc {
      max-width: 40rem;
    }
    &__title {
      font-size: 3.5rem;
    }
    &__text {
      font-size: 1.6rem;
    }
    &__form {
      gap: 1.5rem;
    }
    &__input {
      padding: 1.5rem 3rem;
    }
  }
}

@media (max-width: 646px) {
  .young {
    padding-bottom: 80rem;
    background-image: url(../images/young-image_mobile.png);
    background-position: 10% 75rem;
    background-size: contain;
    background-color: #000;
    &__inner {
      padding-right: 15rem;
    }
    &__desc {
      max-width: 30rem;
    }
    &__title {
      font-size: 3rem;
    }
    &__text {
      font-size: 1.4rem;
    }
    &__input {
      padding: 1.5rem 3rem;
    }
  }
  .reviews {
    padding: 7rem 1.5rem;
    &__title {
      max-width: 70rem;
      font-size: 5rem;
    }
  }
}

@media (max-width: 520px) {
  .young {
    padding-bottom: 80rem;
    background-image: url(../images/young-image_mobile.png);
    background-position: 10% 60rem;
    background-size: contain;
    background-color: #000;
    &__inner {
      padding-top: 10rem;
      padding-right: 25rem;
    }
    &__title {
      font-size: 2rem;
    }
    &__text {
      font-size: 1.2rem;
    }
    &__input {
      max-width: 30rem;
      padding: 1rem 2rem;
      font-size: 1.6rem;
      &::placeholder {
        font-size: 1.6rem;
      }
    }
  }
  .form__button {
    padding: 1rem 2rem;
    max-width: 30rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 400px) {
  .young {
    &__title {
      padding-right: 3rem;
    }
    &__text {
      padding-right: 3rem;
    }
    &__inner {
      padding-top: 5rem;
      padding-right: 3rem;
    }
  }
}
