@font-face {
    font-family: 'Kudryashev Display';
    src: url(../fonts/KudryashevDisplay-Regular.woff2);
};

@import 'set';
@import 'header';
@import 'problems';
@import 'aptos';
@import 'benefits';
@import 'price';
@import 'action';
